<%= form_with(model: tweet, local: true) do |form| %>
  <% if tweet.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% tweet.errors.full_messages.each do |message| %>
        <div class="alert alert-danger" role="alert">
          <h5 class="alert text-center"><%= message %></h5> 
        </div>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :body,class: "form-label" %>
    <%= form.text_field :body ,class:
    "form-control"%>
  </div>

  <div class="field">
    <%= form.text_field :user_id,value: current_user.id, style: "display: none" %>
  </div>

  <div class="actions">
    <%= form.submit class: "btn my-2 btn-primary"%>
  </div>
<% end %>
